@model IEnumerable<eyect4rails.Classes.Employee>

@{
    ViewBag.Title = "Index";
}
<table class="table">

    @foreach (var item in Model) {

    <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username"><a class="link-username" href="@Url.Action("Details", new { id = item.Id })">@item.Name @item.Surname</a></h3>
                <h5 class="widget-user-desc">@item.Function.ToString()</h5>
            </div>
            <div class="box-footer">
                <div class="row">
                    <!-- /.col -->
                    <!-- /.col -->
                    <div class="col-sm-4">
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
}

</table>
